footer.footer#footer
  .wrapper
    h1.footer__logan Our contacts
    p.footer__text If you have any questions about this test task, feel free to ask
    .footer__contacts
      a(href='malito:info@nodeads') info@nodeads
      a(href="tel:+380950894643") +380950894643