section.preview#preview
  div.anim
  .anim1.anim
  .anim2.anim
  .anim3.anim
  .anim4.anim
  .anim5.anim
  .anim6.anim
  .anim7.anim
  .wrapper
    h1.preview__logan Welcome to<br/> Node Ads test task
    p.preview__text  We are young IT company based in Kyiv, Ukraine. It's a  pleasure to meet you!